.about-container {
    padding: 20px;
  }
  
  .about-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .about-heading:hover {
    color: #69f542;
    transform: scale(1.05);
  }
  